*{
    margin: 0;
    padding: 0;
}

nav ul{
    list-style-type: none;
}

nav{
    background-color: black;
    color: white;
    height: 60px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.gameContainer{
   
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
   display: grid;
   grid-template-rows: repeat(3,10vw);
   grid-template-columns: repeat(3,10vw);
   font-family: Georgia, 'Times New Roman', Times, serif;
   position: relative;
  
}

#reset{
    margin:10px 28px ;
    padding: 0px 24px;
    background-color: sandybrown;
    border-radius: 10px;
    font-size: 20px;
}

#reset:hover{
    background-color: rgb(224, 150, 52);
}

.box{
    border: 2px solid black;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: plum;
}

.gameInfo{
    padding: 34px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info{
    font-size: 25px;
    font-style: italic;
    color: blue;
}

.line{
    position :absolute;
    width:0px;
    height:2px;
    background-color: blue;
    transition: width 1s ease-in-out;
}

.btn-bt{
    border-top:0 ;
}

.btn-bl{
    border-left:0 ;
}

.btn-br{
    border-right:0 ;
}

.btn-bb{
    border-bottom:0 ;
}